html,
body {
  height: 100%;
  background-image: url("back.jpg");
  background-size:cover;
}
body {
  padding-top: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 16px;
   color: yellow;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* image styles */
.prochess{
width: 240px;
height:240px;
}
.Dover{
width: 320px;
height:240px;
}
.NBA{
float:left;
width: 828px;
height:240px;
}
.yelp{
float: left;
width: 252px;
height:170px;
}
.bearmaps{
float: left;
width: 440px;
height:220px;
}
/* NBA project description */
#nbas{
	
	text-align:left;
	line-height:1.0em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 16px;
	
}
/* yelp project description */
#yelps{
	
	text-align:left;
	line-height:1.0em;
	
	font-size: 16px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
/* Bearmaps project description */
#bears{
	
	text-align:left;
	line-height:1.0em;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 16px;
	
}
/* style for links*/
a {
	color: #CC99FF;
  font-size: 16px;
  font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-decoration: none;
	
}
/* style for email contact*/
address{
	font-size: 16px;
  font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}


